{% extends 'basic.html' %}
{%load static%}

    {% block style %}<link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %}
{% block body %}
        <!-- Content Section Start -->



       <div class="main-container">
            <!-- About Section Start -->
           <section id="contact" class="contact-section" style="padding-top: 150px;">
                <div class="section-background m-bg-hide">
                    <div class="background-wrapper">
                        <div class="background-inner" style="background-image: urls('images/bg-3.png'); background-repeat: no-repeat;background-position: center right; background-size:auto;"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-md-12 ">
                            <div class="heading-wrapper mt-5">
                                <h3 class="large-heading text-uppercase">For Enquiries / Contact us</h3>
                                <h4 class="fw-300">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-wrapper">
         <form action="/contact" method="post">
    {% csrf_token %}

                                     <div class="form-row">
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="text" class="form-control" name="name" id="inputYourName" placeholder="Your Name">
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="email" class="form-control" name="email" id="inputYourEmail" placeholder="Your Email">
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">

                                            <input type="number" class="form-control" id="phone" name="contact_no" placeholder="Contact Number">
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <textarea class="form-control" id="inputYourQuestion" name="your_ques" placeholder="Your Question"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <input type="submit" value="Send" class="btn btn-primary border-btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section End -->
       </div>
        <!-- Content Section End -->
        <!--footer Start-->

        <!--footer end-->
{% endblock%}