{% extends 'basic.html' %}
{% block body %}
{% load static %}
        <!--Header Start -->
        <!--Header End-->
        <!-- Content Section Start -->
        <div class="main-container">
            <!-- Hero Section Start -->
            <section id="home" class="height-100 hero-section racing-car light-text">
                <div class="section-background">
                    <div class="background-wrapper">
                        <div class="background-inner"
                            style="background-image: url('images/bg-11.jpg'); background-repeat: no-repeat;background-position: center center; background-size: cover; background-color:#040404;">
                        </div>
                    </div>
                </div>
                <div class="container double-top-padding double-bottom-padding height-100">
                    <div class="row">
                        <div class="col-md-12 banner-content text-center">
                            <h2 class="top-sub-heading">Leo Electric</h2>
                            <h1 class="large-heading"><span>DRIVE THE FUTURE OF </span> EMOBILITY</h1>
                        </div>
                        <div class="animation-text">
                            <span>H</span><span>A</span><span>S</span><span>T</span><span>E</span><span>N</span></div>
                    </div>
                </div>

                <div id="foglayer_01" class="fog">
                    <div class="image01"></div>
                    <div class="image02"></div>
                </div>
                <div id="foglayer_02" class="fog">
                    <div class="image01"></div>
                    <div class="image02"></div>
                </div>
                <div id="foglayer_03" class="fog">
                    <div class="image01"></div>
                    <div class="image02"></div>
                </div>
                <div class="racing-car-animation">
                    <img src="{% static 'images/racing-car-4.png' %}" alt="" class="wow fadeInRightBig" data-wow-duration="2s"
                        data-wow-delay="1s">
                </div>
            </section>
            <!-- Hero Section End -->
            <!-- Features Section Start -->
            <section id="feature" class="features-section gray-bg">
                <div class="section-background">
                    <div class="background-wrapper">
                        <div class="background-inner" style="background-color: #0e0e0e;"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-wrapper text-center">
                                <h2 class="large-heading text-uppercase fut3"><span>Hasten</span>SMART FEATURES</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-container">
                    <div class="row features-row">
                        <div class="col-md-2">
                            <div class="feature-box">
                                <div class="feature-icon">
                                    <img src="{% static 'images/features/battery.png' %}" alt="">
                                </div>
                                <div class="features-text">
                                    <h4 class="text-uppercase fut">Easy to Charge Batteries</h4>
                                    <p class="fut2">Equipped with our new Lithium-ion detachable batteries, charging
                                        your Spirnt ++ is simple and portable.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="feature-box offset-y-100">
                                <div class="feature-icon">
                                    <img src="{% static 'images/features/noise.png' %}" alt="">
                                </div>
                                <div class="features-text">
                                    <h4 class="text-uppercase fut">Noiseless & Smooth Ride</h4>
                                    <p class="fut2">With low maintenance, Zero emissions and infinite savings LEO is the
                                        smart choice to make, its electric drive makes it noise-free and clean.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="feature-box">
                                <div class="feature-icon">
                                    <img src="{% static 'images/features/green.png' %}" alt="">
                                </div>
                                <div class="features-text">
                                    <h4 class="text-uppercase fut">A Green Machine</h4>
                                    <p class="fut2">Vehicle with Zero pollution sustainable and innovative mobility
                                        solutions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="feature-box offset-y-100">
                                <div class="feature-icon">
                                    <img src="{% static 'images/features/gear.png' %}" alt="">
                                </div>
                                <div class="features-text">
                                    <h4 class="text-uppercase fut">Low maintenance</h4>
                                    <p class="fut2">Zero-combustion model means fewer moving parts. That means less
                                        chance of parts failing and lowers cost of maintenance.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="feature-box offset-y-100">
                                <div class="feature-icon">
                                    <img src="{% static 'images/features/certify.png' %}" alt="">
                                </div>
                                <div class="features-text">
                                    <h4 class="text-uppercase fut">Certified by ICAT</h4>
                                    <p class="fut2">Leo Electric is by ICAT and purely under Make in India Machine. With
                                        a government support which also provided Government Subsidy.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="feature-box offset-y-100">
                                <div class="feature-icon">
                                    <img src="{% static 'images/features/anti.png' %}" alt="">
                                </div>
                                <div class="features-text">
                                    <h4 class="text-uppercase fut">Anti Theft Lock System</h4>
                                    <p class="fut2">This security will provide the owner with a range of notifications
                                        and provides advanced real-time tracking regarding their vehicle.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Features Section End -->

            <!--gallery-->
            <div style="background-image: url('images/bg-6.png'); background-repeat: no-repeat;background-position: center center; background-size:auto; overflow: scroll; margin-bottom: 0px;"
                class="min-h-screen min-w-screen bg-gray-200 flex justify-righ">

                <div class="product-card">
                    <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                        <div class="image-detail">
                            <img class="w-full rounded-md" src="images/h3.jpg" alt="motivation" />
                            <div class="detail">
                                <ul>
                                    <li style="--td:1;">Name: <b>Sprint</b></li>
                                    <li style="--td:2;">Type: <b>Electric</b></li>
                                    <li style="--td:3;">Speed: <b>25km/h</b></li>
                                    <li style="--td:4;">Range: <b>70km/charge</b></li>
                                    <li style="--td:5;">Speed: <b>25km/h</b></li>
                                </ul>
                            </div>
                        </div>
                        <h5 class="text-left font-serif font-bold text-gray-900">
                            <strong>Sprint </strong><span class="text-sm">(Black)</span>
                        </h5>
                        <p class="text-center leading-relaxed">
                            Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.
                        </p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="/ProductDetails"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/slicer-bicycle-1.png" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Yellow)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="/ProductDetails"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/slicer-bicycle-2.png" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Red)</span></h5>
                        <p class="text-center leading-relaxed">Sprint Black is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="/ProductDetails"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/slicer-bicycle-3.png" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Blue)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="/ProductDetails"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/h4.jpg" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Red)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="/ProductDetails"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/h6.jpg" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Grey)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="/ProductDetails"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/slicer-bicycle-1.png" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Yellow)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="/ProductDetails"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/slicer-bicycle-1.png" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Yellow)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="/ProductDetails"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/slicer-bicycle-1.png" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Yellow)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="/ProductDetails"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/slicer-bicycle-1.png" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Yellow)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="ProductDetails.html"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/slicer-bicycle-1.png" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Yellow)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="ProductDetails.html"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">

                        <img class="w-full rounded-md" src="images/slicer-bicycle-1.png" alt="motivation" />
                        <h5 class="font-serif font-bold text-gray-900"><strong>Sprint </strong><span
                                class="text-sm">(Yellow)</span></h5>
                        <p class="text-center leading-relaxed">Sprint is a Electric Scooter with 24AH/48V and
                            70KMs/charge with 25 KM/h Speed.</p>
                        <span class="text-left">&#8377; 50,000.00</span>
                        <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                        <a href="ProductDetails.html"><button style="width: 250px;"
                                class="py-15 bg-gray-900 rounded-md text-sm">More Details</button></a>
                        <button style="width: 250px;" class="py-15 bg-gray-900 rounded-md text-sm">Add To Cart</button>
                    </div>
                </div>

            </div>
            <!--gallery end-->

            <!-- Specifications Section Start -->
            <section id="technical" class="specifications-section gray-bg">
                <div class="section-background">
                    <div class="background-wrapper">
                        <div class="background-inner" style="background-color: #0e0e0e;"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-wrapper">
                                <h2 class="large-heading text-uppercase fut3"><span>Hasten</span>Specifications</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="tab-section vertical-tab m-top-30">
                                <!-- Nav tabs -->
                                <div class="select-filter fut">SPECIFICATIONS</div>
                                <ul class="nav nav-tabs text-uppercase" role="tablist">
                                    <li class="nav-item">
                                        <span class="nav-link active fut" id="engine-tab" data-toggle="tab"
                                            href="#engine" role="tab" aria-controls="engine"
                                            aria-selected="true">SPECIFICATIONS</span>
                                    </li>

                                    <li class="nav-item">
                                        <span class="nav-link fut" id="suspension-tab" data-toggle="tab"
                                            href="#suspension" role="tab" aria-controls="suspension"
                                            aria-selected="false">ACCESSORIES</span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="nav-link fut" id="transmission-tab" data-toggle="tab"
                                            href="#transmission" role="tab" aria-controls="transmission"
                                            aria-selected="false">KEY FEATURES</span>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="engine" role="tabpanel"
                                        aria-labelledby="engine-tab">
                                        <h3 class="tab-title fut">SPECIFICATIONS</h3>
                                        <table class="specifications fut2">
                                            <tr>
                                                <th scope="row">Max. Speed</th>
                                                <td>50km/hr</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Mileage@28AH Battery</th>
                                                <td>70-80km/charge* </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Seating Capacity</th>
                                                <td>Driver+1 </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Starting System </th>
                                                <td>Electric Start</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Wheel Size(Front Rear)</th>
                                                <td>90×100 - 10 in</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Front & Rear Brakes</th>
                                                <td>Front- Drum Type, 110mm Rear- Drum Type, 130mm</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Speedometer</th>
                                                <td>Latest IC Based Technology</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Motor Details</th>
                                                <td>BLDC Hub Motor</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Motor Watt</th>
                                                <td>1000W</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Motor Input Voltage</th>
                                                <td>60 V</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Controller</th>
                                                <td>18 Tube/60V</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Charger</th>
                                                <td>4A/60V</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Batteries Type</th>
                                                <td>Lithium/ VRLA</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Batteries</th>
                                                <td>12V/28AH</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Ground Clearance(Chassis)</th>
                                                <td>150mm</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="suspension" role="tabpanel"
                                        aria-labelledby="transmission-tab">
                                        <h3 class="tab-title fut">ACCESSORIES</h3>
                                        <table class="specifications fut2">
                                            <tr>
                                                <th scope="row">First Aid Kit</th>
                                                <td>Yes</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Helmet</th>
                                                <td>Yes</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">ORVM</th>
                                                <td>Yes</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Foot mat</th>
                                                <td>Yes</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Ladies Foot Rest</th>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Front Leg Guard</th>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Rear Leg Guard</th>
                                                <td>No</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="transmission" role="tabpanel"
                                        aria-labelledby="suspension-tab">
                                        <h3 class="tab-title fut">KEY FEATURES</h3>
                                        <table class="specifications fut2">
                                            <tr>
                                                <th scope="row">Front Fork Type </th>
                                                <td>Yes</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Secuity System</th>
                                                <td>Yes</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Center Locking System</th>
                                                <td>Yes</td>
                                            </tr>

                                            <tr>
                                                <th scope="row">Handle Lock</th>
                                                <td>Yes</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Cabin Box</th>
                                                <td>Yes</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"> USB Charging</th>
                                                <td>Yes</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"> Music System</th>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"> Bulb</th>
                                                <td>DUAL</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Features Section End -->

        </div></div>
        <!-- Content Section End -->
        <!--footer Start-->

        <!--footer end-->
    <!--Main Wrapper End-->
    <!-- Vendor -->


{% endblock %}