{% extends 'basic.html' %}
{% load static %}

    {% block style %}<link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %}
{% block body %}


    <!--Main Wrapper Start-->

        <!--Header Start -->
        <!--Header End-->
        <!-- Content Section Start -->
        <div class="product-page mt-5">
            <div class="heading-section">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="heading mt-5">
<!--                       <h1>Products</h1>-->
 <h1><a href="/product_page">Products</a></h1>
                    </div>
                </div>
            </div>
        </div>
   <!--     <div class="main-container container product-page" style="margin-top:80px">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="{% static 'images/h2.jpg' %}" alt="motivation">

                            </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>Sprint </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                                Sprint is a Electric Scooter with 24AH/48V and
                                70KMs/charge with 25 KM/h Speed.
                            </p>
                            <span class="text-left">₹ 50,000.00</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                            <div class="buttonns" style="width: 100%;">
                                <a class="cards-btns" href="/ProductDetails"><button>More Details</button></a>
                                <a class="cards-btns" href="/card"><button>Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="{% static 'images/h1.png' %}" alt="motivation">

                            </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>Sprint </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                                Sprint is a Electric Scooter with 24AH/48V and
                                70KMs/charge with 25 KM/h Speed.
                            </p>
                            <span class="text-left">₹ 50,000.00</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                            <div class="buttonns" style="width: 100%;">
                                <a class="cards-btns" href="/ProductDetails"><button>More Details</button></a>
                                <a class="cards-btns" href="/card"><button>Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="{% static 'images/h2.jpg' %}" alt="motivation">

                            </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>Sprint </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                                Sprint is a Electric Scooter with 24AH/48V and
                                70KMs/charge with 25 KM/h Speed.
                            </p>
                            <span class="text-left">₹ 50,000.00</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                            <div class="buttonns" style="width: 100%;">
                                <a class="cards-btns" href="/ProductDetails"><button>More Details</button></a>
                                <a class="cards-btns" href="/card"><button>Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="{% static 'images/h3.jpg' %}" alt="motivation">

                            </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>Sprint </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                                Sprint is a Electric Scooter with 24AH/48V and
                                70KMs/charge with 25 KM/h Speed.
                            </p>
                            <span class="text-left">₹ 50,000.00</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                            <div class="buttonns" style="width: 100%;">
                                <a class="cards-btns" href="/ProductDetails"><button>More Details</button></a>
                                <a class="cards-btns" href="/card"><button>Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="{% static 'images/h4.jpg' %}" alt="motivation">

                            </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>Sprint </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                                Sprint is a Electric Scooter with 24AH/48V and
                                70KMs/charge with 25 KM/h Speed.
                            </p>
                            <span class="text-left">₹ 50,000.00</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                            <div class="buttonns" style="width: 100%;">
                                <a class="cards-btns" href="/ProductDetails"><button>More Details</button></a>
                                <a class="cards-btns" href="/card"><button>Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="images/h1.pngd" alt="motivation">

                            </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>Sprint </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                                Sprint is a Electric Scooter with 24AH/48V and
                                70KMs/charge with 25 KM/h Speed.
                            </p>
                            <span class="text-left">₹ 50,000.00</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                            <div class="buttonns" style="width: 100%;">
                                <a class="cards-btns" href="ProductDetails.html"><button>More Details</button></a>
                                <a class="cards-btns" href="ProductDetails.html"><button>Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="{% static 'images/h1.png' %}" alt="motivation">

                            </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>Sprint </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                                Sprint is a Electric Scooter with 24AH/48V and
                                70KMs/charge with 25 KM/h Speed.
                            </p>
                            <span class="text-left">₹ 50,000.00</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                            <div class="buttonns" style="width: 100%;">
                                <a class="cards-btns" href="/ProductDetails"><button>More Details</button></a>
                                <a class="cards-btns" href="/card"><button>Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="{% static 'images/h2.jpg' %}" alt="motivation">

                            </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>Sprint </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                                Sprint is a Electric Scooter with 24AH/48V and
                                70KMs/charge with 25 KM/h Speed.
                            </p>
                            <span class="text-left">₹ 50,000.00</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                            <div class="buttonns" style="width: 100%;">
                                <a class="cards-btns" href="/ProductDetails"><button>More Details</button></a>
                                <a class="cards-btns" href="/card"><button>Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="{% static 'images/h3.jpg' %}" alt="motivation">

                            </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>Sprint </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                                Sprint is a Electric Scooter with 24AH/48V and
                                70KMs/charge with 25 KM/h Speed.
                            </p>
                            <span class="text-left">₹ 50,000.00</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">0</span>
                            <div class="buttonns" style="width: 100%;">
                                <a class="cards-btns" href="/ProductDetails"><button>More Details</button></a>
                                <a class="cards-btns" href="/card"><button>Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>-->
          <div class="row mt-4">
{% for i in title %}
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="product-card">
                        <div class="shadow-2xl flex flex-col max-w-md bg-white m-3 px-6 py-4 rounded-xl space-y-5">
                            <div class="image-detail">
                                <img class="w-full rounded-md" src="/media/{{i.img}}" alt="motivation">
                         </div>
                            <h5 class="text-left font-serif font-bold text-gray-900">
                                <strong>{{i.name}} </strong><span class="text-sm">(Black)</span>
                            </h5>
                            <p class="text-center leading-relaxed">
                               {{i.desc}}
                            </p>
                            <span class="text-left">{{i.price}}</span>
                            <span class="text-left fa fa-star" style="color: goldenrod;">{{i.rate}}</span>
                            <div class="buttonns mx-0 ">
  <a class="cards-btns" href="/ProductDetails?blogid={{i.id}}"><button>More Details</button></a>
                                {% if request.user.is_authenticated %}
         <span class="storefront_add_to_cart">
             <a class="cards-btns" href="/add?blogid={{i.id}}"><button>Add to cart</button>
             </a></span>

         {% endif %}
                            </div>
                        </div>
                    </div>
                </div> {%  endfor %}
</div>

        <!-- Content Section End -->

        <!--footer end-->

    <!--Main Wrapper End-->
    <!-- Vendor -->

   {% endblock %}