{% extends 'basic.html' %}
{% load static%}

    {% block style %}<link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %}
{% block body %}

<form action="/testdrive" method="post">
    {% csrf_token %}
 <div class="main-container">
            <!-- About Section Start -->
            <section id="about" class="about-section" style="background-color: #eab835; padding: 20px; margin-top: 80px;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="img-wrapper">
                                <img src="{% static 'images/image-1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 about-text">
                            <div class="heading-wrapper">
                                <h2 class="large-heading text-uppercase" style="color: #fff;"><span style="color: #fff;">TEST DRIVE AT</span> YOUR DOOR STEP</h2>
                            </div>
                            <div class="text-block">
                                <p style="margin-bottom: 10px; color: #000;">Let us bring our dealership to you! If you’re interested in EVEX, you now have the option to test drive right at your doorstep. From the comfort of your own home, you can schedule to have one of our Test Drive Agent / Associate, deliver the test drive straight to you.</p>

                                <p style="margin-bottom: 10px; color: #000;">1.	Browse through our website www.Leoelectric.in, see what you would like to test drive.<br>
2.	Complete the form with your name and contact information.<br>
3.	Receive a phone call or an email from a member of our sales team to confirm the details of your test drive!
</p>
                           <p style="margin-bottom: 10px; color: #000;">During your scheduled appointment, our Sales Associate will be with you every step of the way answering any questions that you may have about your dream vehicle.</p>
                            </div>
                            <div class="btn-wrapper">
                                <div  class="btn btn-primary has-icon"><span>Book Now</span><i class="fas fa-arrow-down">

                                </i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section End -->
            <section id="accessories" class="accessories-section pb-0" style="padding-top: 80px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1 text-center">
                            <div class="heading-wrapper">
                                <h2 class="text-uppercase text">Save Your Precious Time and Money </h2>
                            </div>
                            <div class="text-block text-lead">
                                <p>In an age where time is a rare commodity, buying online provides massive time savings to the customers, buying online makes sense to be able to buy where you already are. Online buying is when you want from where you want is far preferable (and a whole lot safer) than heading out in this COVID reality we’re now living in.Can avoid contacting many, No need to head out, wait in line, and then journey back home when you can access a greater services at a affordable price from the comfort of home.</p>
                            </div>

                            <div class="heading-wrapper">
                                <h2 class="text-uppercase">Door Step Test Drive Option</h2>
                            </div>
                            <div class="text-block text-lead">
                                <p>One of the major advantages of buying a electric two wheeler online is you can experience the Two-wheeler yourself before making a buy. Testing is very important because it will determine if EVEX is at par with others when it comes to performance. </p>

                            </div>

                            <div class="heading-wrapper">
                                <h2 class="text-uppercase">Our Service</h2>
                            </div>
                            <div class="text-block text-lead">
                                <p>1.	Our services will be provided within the radius of 10kms.<br>
2.	All our service executives are well trained by the company<br>
3.	In case of any servicing, our clients are requested to visit only the certified technicians/mechanics.<br>
4.	Certified service executives/mechanics list will be available soon.
</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--form-->
                <div class="col-lg-6 bookform">
                           <div class="form-wrapper">
                                <div class="heading-wrapper text-center">
                                <h2 class="text-uppercase">Book Drive</h2>
                            </div>
                            <div class="form-wrapper">
                                <form>
                                     <div class="form-row">
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="text" class="form-control" name='name' id="inputYourName" placeholder="Your Name">
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="email" class="form-control" name="email" id="inputYourEmail" placeholder="Your Email">
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="number" class="form-control"  name="contact_no" id="phone" placeholder="Contact Number">
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="text" class="form-control"  name="Bike_model" id="modal" placeholder="Bike Modal">
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="text" class="form-control" name="Addres" id="adddd" placeholder="Address">
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="text" class="form-control" name="zipcode" id="zip" placeholder="Zip Code">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <textarea class="form-control"   name="your_question" id="inputYourQuestion" placeholder="Your Question"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12 text-center">
                                            <input type="submit" value="Send" class="btn btn-primary border-btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                <!--form end-->
            </section>
       </div>
<!-- Mirrored from leoelectric.in/testdrive.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Jul 2021 18:42:31 GMT -->
</html>{%endblock%}
</form>